

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	background: url('../img/courtroom3.jpg') no-repeat center center fixed ;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	
}
body {
		background-color: transparent;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;


}

html, body {
	font-family: "Courier New", monospace;
}

.logo-wrapper {
	margin-top: 2%;
	/*border: 3px solid blue;*/
}

.logo-container{
	width: 100%;

	/*border: 5px solid green;*/

}

#logo{
	font-family: "Courier New", monospace;
	font-weight: 900;
	font-size: 400%;
	text-align: center;
	color:white;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	text-shadow: 3px 3px #1abc9c;
	/*border: 5px solid red;*/
}

	#logo:hover {
		color: white;
		cursor: default;
	}

.index-subtext{
	text-align: center;
	color: #F3F313;
	margin-top: 5px;
	font-size: 120%;
}

#logo-feed {
	font-family: "Courier New", monospace;
	font-weight: 900;
	font-size: 300%;
	text-align: center;
	color:white;
	text-shadow: 3px 3px #1abc9c;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: -1%;
	text-decoration: none;
}

	#logo-feed:hover {
		color: white;
		text-decoration: none;
	}

.index-content-container {
	margin-top: 5%;
}


.headerbtn {
	position: relative;
	left: 55%;
	margin-top: 5%;
}



.nav-custom {

	height: 10px;
}

.nav-feed {
	height: 5px;
	margin-top: 0%;
}

.feed-logo-table {
	border-top: none;

}

.feed-post-wrapper{
	margin-top: 8%;
}
	
	.feed-post-btn {
		width: 100%;
		height: 100%;
		border: none;
		background-color: #1abc9c;
		box-shadow: 6px 10px 10px #1A3129;
		color: white;
		font-family: "Courier New", monospace;
		font-size: 120%;
		}

		.feed-post-btn:hover {
			background-color: #39DCBC;
		}



		.post-pencil {
			position: relative;
			top: 5px;
		}

.feed-wrapper {
	padding-top: 10px;
	margin-top: 3%;


}

#content{

	/*border: 5px solid yellow;*/
	margin-top: 0%;
	margin-bottom: 5%;
	padding-bottom: 0%;
	background-color: white;
	color: black;


}




.post-btn-container {
	margin-top: 6%;
	height: 15em;
	
	/*border: 1px solid green;*/
	padding: 5%;
	
}

.post-btn {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #1abc9c;
	box-shadow: 6px 10px 10px #1A3129;
	color: white;
	font-family: "Courier New", monospace;
	font-size: 250%;
}

	.post-btn:hover{
		box-shadow: 0px 0px 0px #1A3129;
		background-color: #39DCBC;
		position: relative;
		top: 5px;
		left: 5px;

	}

.find-side-wrapper{
	margin-top: 5%;
	
	
	
	/*border: 1px solid green;*/
	padding-top: 5%;
	padding-bottom: 0;
	margin-bottom: 5%;

}

.find-side-container {
	/*border: 1px solid red;*/
	width: 100%;
	height: 100%;
	
}

.btn-find {
	width: 100%;
	height: 2.6em;
	padding: 0;
	color: white;
	background-color: #1abc9c;
	border: none;
	font-family: "Courier New", monospace;
	font-size: 150%;
	font-weight: 1000;
	box-shadow: 6px 10px 10px #1A3129;
}

	.btn-find:hover{
		box-shadow: 0px 0px 0px #1A3129;
		background-color: #39DCBC;
		position: relative;
		top: 5px;
		left: 5px;

	}


.label-custom {
	font-family: "Courier New", monospace;
	font-size: 200%;
	color: white;
	

	/*border: 1px solid yellow;*/
}

/************************************
  Postform.php styles 

  ************************************/

 #postform-wrapper {
  	border: 1px solid #1abc9c;
  	margin-top: 10%;
  	background-color: white;
  	width: 100%;
  }


.custom-header {
	margin-top: 0%;
	margin-left: 0%;
	margin-bottom: 5%;
	background-color: #1abc9c;
	color: white;
	font-weight: bolder;
	/*border: 1px solid blue;*/
	width: 100%;
	text-align: center;
	padding: 5px;
}



#postCase {
	
	font-weight: bolder;
}

.custom-label {
	color: black;
	font-size: 130%;
}

#title {
	width: 450px;
	height: 100%;
}

#description-text {
	width: 450px;
	height: 250px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

}

.postform-btn {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #1abc9c;
	box-shadow: 4px 6px 10px #1A3129;
	color: white;
	font-family: "Courier New", monospace;
	font-size: 250%;
}

	.postform-btn:hover{
		box-shadow: 0px 0px 0px #1A3129;
		background-color: #39DCBC;
		position: relative;
		top: 5px;
		left: 5px;

	}

/************************************
  End Postform.php styles 

  ************************************/


.quote-container {
	font-family: "Courier New", monospace;
	font-size: 150%;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	margin-top: 10%;
	color: white;
	/*border: 2px solid red;*/
}


#content-wrapper {
	border: 2px solid #1abc9c;
	width: 100%;
	padding: 0;
	font-family: "Courier New", monospace;
	color: white;
	
	margin-top: 5%;
	box-shadow: 6px 10px 10px #1A3129;
}

		.content-header {
			font-size: 150%;
			/*border: 2px solid blue;*/
			margin: 0;
			padding-left: 2%;
			width: 100%;
			background-color: #1abc9c;
			font-weight: bold;
		}

					.content-date{
						width: 100%;
						/*border: 1px solid red;*/
						text-align: left;
					}

					.content-title {
						width: 75%;

						text-align: left;
						/*border: 1px solid yellow;*/
					}


		.content {
			font-size: 130%;
			background-color: white;
			color: black;
			border: 1px solid white;
			padding-left: 2%;
			padding-top: 1%;
			font-weight: bold;
		}

		.content-footer {
			width: 100%;
			font-size: 120%;
			border-top: 2px solid #1abc9c;
			background-color: white;
			color: black;
			text-align: right;
			padding-top: 5px;
			padding-right: 2%;
		}

		.footer-email {
		
			font-family: "Courier New", monospace;
		}


#sorry-wrapper {
  	border: 1px dashed #1abc9c;
  	margin-top: 10%;
  	background-color: white;
  	width: 100%;

  }

.sorry-header {
	margin-top: 0%;
	margin-left: 0%;
	margin-bottom: 5%;
	background-color: #1abc9c;
	color: white;
	font-size: 150%;
	font-weight: bolder;
	/*border: 1px solid blue;*/
	width: 100%;
	text-align: center;
	padding: 5px;
}

.sorry-btn-wrapper {
	margin-left: 20%;
	margin-bottom: 5%;
	width: 60%;
}