

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.headerbtn {
	margin-top: 5%;
}

.img-logo {

}




.nav-custom {
	height: 10px;
}

.row-2-custom {
	margin-top: -50px;
}

.label-custom {
	color: #2E2EE6;
}


.custom-header {
	margin-top: 0;
	margin-left: 25%;
	margin-bottom: 5%;
}

#description-text {
	width: 500px;
	height: 250px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

}






